* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #30363e;
}

body,
html {
  height: 100%;
}

.flexcontainer.wrap.row {
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
