* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(24, 27, 31);
  background: linear-gradient(
    0deg,
    rgba(24, 27, 31, 1) 3%,
    rgba(48, 54, 62, 1) 15%,
    rgba(48, 54, 62, 1) 85%,
    rgba(24, 27, 31, 1) 98%
  );
}

body,
html {
  height: 100%;
}

.flexcontainer.wrap.row {
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
